 <!-- Contact Us Modal -->
 <div class="modal fade" id="contactUsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content p-3">
             <div class="modal-header" style="border: none;">
                 <h5 class="modal-title" id="exampleModalLongTitle">Contact Us</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body pt-0 pb-0">
                 <p class="text-dark pt-0 mb-0">Get in touch and we'll take you through everything you need to know.</p>

             </div>
             <div class=" modal-footer" style="justify-content: start; flex-wrap: initial; border:none;">

                <a type="button" href="tel:02380234258" class="btn btn-primary text-white"
                    style="width:50%" target="_blank"><i class="fas fa-phone  text-white"></i>
                    Call Us</a>
                <a type="button" href="mailto:ryanholloway@fitandeasy.co.uk" class="btn btn-primary text-white"
                    style="width:50%"><i class="fas fa-envelope  text-white"></i>
                    Email Us</a>
            </div>
         </div>
     </div>
 </div>