 <!-- Covid Modal -->
 <div class="modal fade" id="covidModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content p-3">
             <div class="modal-header" style="border: none;">
                 <h5 class="modal-title" id="exampleModalLongTitle">January 2021 Update</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body pt-0 pb-0">
                 <p class="text-dark pt-0 mb-0">The gym is currently closed. We're still open for Physiotherapy, get in touch and we'll take you through everything you need to know.</p>
             </div>
             <div class=" modal-footer" style="justify-content: start; flex-wrap: initial; border:none;">

                 <a type="button" href="tel:02380234258" class="btn btn-primary text-white" style="width:50%"
                     target="_blank"><i class="fas fa-phone  text-white"></i>
                     Call Us</a>
                 <a type="button" href="mailto:ryanholloway@fitandeasy.co.uk" class="btn btn-primary text-white"
                     style="width:50%"><i class="fas fa-envelope  text-white"></i>
                     Email Us</a>
             </div>

             <div class=" modal-footer" style="    justify-content: center;
             flex-wrap: inherit;
             border: none;
             background-color: #f5f5fa;
             margin-right: 15px;
             margin-left: 15px;">

                    <a style="color: #5c015e;" class="no-border mr-3" target="_blank" href="https://www.facebook.com/fitandeasygym/"><i class="fab fa-2x fa-facebook" aria-hidden="true"></i></a>
                    <a style="color: #5c015e;" class="no-border mr-3" target="_blank" href="https://www.instagram.com/fitandeasygym/"><i class="fab fa-2x fa-instagram " aria-hidden="true"></i></a>
                    <a style="color: #5c015e;" class="no-border mr-3" target="_blank" href="https://twitter.com/FitandEasy"><i class="fab fa-2x fa-twitter" aria-hidden="true"></i></a>
                    <a style="color: #5c015e;" class="no-border mr-3" target="_blank" href="https://www.linkedin.com/pub/stephen-holloway/54/854/954"><i class="fab fa-2x fa-linkedin" aria-hidden="true"></i></a>

             </div>
         </div>
     </div>
 </div>

 <script type="text/javascript">
     $(window).on('load', function () {
         $('#covidModal').modal('show');
     });
 </script>