<div class="row mt-5 mb-5">
    <div class="col-lg-4 center order-first mb-5 wow animate fadeInLeft"  data-wow-delay=".5s">
        <i class="fas fa-5x fa-chart-line brand-color"></i>
    </div>
    <div class="col-lg-8 wow animate fadeInRight" data-wow-delay=".5s">
        <h4 class="first-row-why-copy1">POWER PLATE ACCELERATES YOUR TRAINING</h4>
        <p class="first-row-why-copy2">Many traditional exercises can be done on the Power Plate, and the results are
            magnified. It’s thanks to our proprietary PrecisionWave™ Technology, which is engineered precisely to
            activate the body’s natural reflexive response to vibration. The surface vibrates 25 to 50 times per second
            (25Hz to 50Hz), resulting in a natural response that works your muscles harder while doing the same
            exercises. </p>
    </div>
</div>

<div class="row mt-5 mb-5">
    <div class="col-lg-8 wow animate fadeInLeft" data-wow-delay=".5s">
        <h4 class="first-row-why-copy1">POWER PLATE CAN HELP YOU LOSE WEIGHT</h4>
        <p class="first-row-why-copy2">Significant weight loss is often reported by those who use Power Plate regularly in conjunction with a healthy, calorie-controlled diet. One of the reasons for this is increased lymphatic flow. Research also shows, when used as part of an active lifestyle, Power Plate may have a significant impact upon the reduction of cellulite and body fat. This may occur due to an increases in metabolism, both during and following exercise.

        </p>
    </div>
    <div class="col-lg-4 center order-first mb-5 wow animate fadeInRight" data-wow-delay=".5s">
        <i class="fas fa-5x fa-weight brand-color"></i>
    </div>
</div>

<div class="row mt-5 mb-5">
    <div class="col-lg-4 center order-first mb-5 wow animate fadeInLeft" data-wow-delay=".5s">
        <i class="fas fa-5x fa-dumbbell brand-color"></i>
    </div>
    <div class="col-lg-8 wow animate fadeInRight" data-wow-delay=".5s">
        <h4 class="first-row-why-copy1">INCREASE YOUR STRENGTH AND FLEXIBILITY</h4>
        <p class="first-row-why-copy2">The Power Plate vibrates up and down, side-to-side, and front-to-back, destabilizing the body and promoting the reflexive engagement of soft tissue. Involuntary muscle activity promotes quick, reflexive responses in muscle fibers and an increase in circulation. That means development in whole–body balance, mobility and stability, strength and motor control (muscle memory), in a shorter time frame than with traditional methods.

        </p>
    </div>
</div>

<div class="row mt-5 mb-5">
    <div class="col-lg-8 wow animate fadeInLeft" data-wow-delay=".5s">
        <h4 class="first-row-why-copy1">YOU'LL RECOVER FASTER</h4>
        <p class="first-row-why-copy2">Exercise is stress, and the body needs time to rebuild to positively adapt to training. Massage on a Power Plate stimulates lymphatic flush, eases pain, promotes faster recovery of damaged muscles and tendons, improves joint function, and helps you return stronger–all in only a few minutes a day. And even beyond that, you can exercise using a Power Plate with less chance of strain due to the patented multi–directional vibration. With regular use, you’ll find that you prepare faster, perform better and recover quicker.
        </p>
    </div>
    <div class="col-lg-4 center order-first mb-5 wow animate fadeInRight" data-wow-delay=".5s">
        <i class="fas fa-5x fa-plus-square brand-color"></i>
    </div>
</div>

<div class="row mt-5 mb-5">
    <div class="col-lg-4 center order-first mb-5 wow animate fadeInLeft" data-wow-delay=".5s">
        <i class="far fa-5x fa-clock brand-color"></i>
    </div>
    <div class="col-lg-8 wow animate fadeInRight" data-wow-delay=".5s">
        <h4 class="first-row-why-copy1">EXPERIENCE A COMPLETE WORKOUT
            IN JUST 15 MINUTES
            
            </h4>
        <p class="first-row-why-copy2">With whole body vibration training, you get a complete, full-body workout incorporating stretch, balance, core, strength-building and massage, all in only as little as 15 minutes. Some models even have a virtual trainer with more than 1,000 built-in videos.
        </p>
    </div>
</div>