<div id="social" class="section-2 jumbotron jumbotron-fluid mb-0 wow animate fadeIn" style="background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0) )
  , url({{site.baseurl}}/assets/images/home/weights.jpg); background-size: cover;background-position: center;position: relative;padding: 10rem 2rem;">
	<div class="container">
		<div class="row pt-5 pb-5 justify-content-md-center">
			<div class="col-md-10 text-center content">
				<h4 class="text-light wow animate fadeIn" data-wow-delay=".5s">Follow us </h4>
				<p class="text-light large-paragraph wow animate fadeIn" data-wow-delay=".75s">Follow the Fit & Easy journey on social media.</p>
				
					<a class="btn btn-primary mr-3 mb-3 facebook-button wow animate fadeIn" data-wow-delay="1s" href="https://www.facebook.com/fitandeasygym/" target="_blank"><i class="fab fa-facebook text-light mr-2"></i> Facebook</a>
					<a class="btn btn-primary mr-3 mb-3 instagram-button wow animate fadeIn" data-wow-delay="1.1s" href="https://www.instagram.com/fitandeasygym/" target="_blank"><i class="fab fa-instagram text-light mr-2"></i> Instagram</a>
					<a class="btn btn-primary mr-3 mb-3 instagram-button wow animate fadeIn" data-wow-delay="1.2s" href="https://twitter.com/FitandEasy" target="_blank"><i class="fab fa-twitter text-light mr-2"></i> Twitter</a>
					<a class="btn btn-primary mr-3 mb-3 instagram-button wow animate fadeIn" data-wow-delay="1.3s" href="https://www.linkedin.com/pub/stephen-holloway/54/854/954" target="_blank"><i class="fab fa-linkedin text-light mr-2"></i> Linkedin</a>
			</div>

		</div>
	</div>
</div>