<div class="section-1 jumbotron jumbotron-fluid bg-white mb-0">
	<div class="container">
		<div class="row pt-5 pb-5">
			<div class="col-12 col-sm-6 mb-5">
				<img data-wow-delay=".5s" class="image-shadow wow animate fadeInLeft" style="width: 100%;" src="{{site.baseurl}}/assets/images/home/bench.jpg" alt="" style="width: 100%;">
			</div>
			<div class="col-12 col-sm-6 center wow animate fadeIn" data-wow-delay=".5s">
				<div class="content">
					<h3 class="mb-3">Personal Gym</h3>
					<p>We offer free weights, squat rack and a bench for the feel of your own personal gym. 
						.</p>
						<a href="/" class="btn btn-primary">
							Read More
						</a>
				</div>
			</div>
		</div>
	</div>
</div>