<div class="section-0 jumbotron jumbotron-fluid bg-light mb-0 pb-0">
	<div class="container">
		<div class="row pt-5 pb-5">
			<div class="col-12 col-sm-6 center mb-5 wow animate fadeIn" data-wow-delay=".5s">
				<div>
					<h3 class="mb-3">Training on Power Plates – prepared to be amazed</h3>
					<p>If you want a trim, toned body but if you’re pushed for time or maybe just bored with the gym, step onto the Power Plate at Fit & Easy. A dedicated Power Plate studio just five minutes from Southampton city centre, Fit & Easy is clean, bright and calm, offering you the chance to get-away from it all, even if it is for only half an hour.</p>
					<a href="/how-it-works/" class="btn btn-primary ">
						Read More
					</a>
				</div>
			</div>
			<div class="col-12 col-sm-6 order-first mb-5">
				<img class="image-shadow wow animate fadeInRight" data-wow-delay=".5s" style="width: 100%;" src="{{site.baseurl}}/assets/images/home/gym.jpg" alt="" style="width: 100%;">
			</div>
		</div>
	</div>
</div>