<div id="try-for-free" class="section-2 mb-0 wow animate fadeIn"
	style="background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0) )
  , url({{site.baseurl}}/assets/images/global/sideplate.jpg); background-size: cover;background-position: center;position: relative;padding: 4rem 2rem;">
	<div class="container">
		<div class="row pt-5 pb-5 justify-content-md-center">
			<div class="col-md-7 text-center content">
				<h3 class="text-light wow animate fadeIn" data-wow-delay=".5s">Try Fit & Easy For FREE!
				</h3>
				<p class="text-light large-paragraph wow animate fadeIn" data-wow-delay="1s">If you would like to give
					Power Plate fitness a go or just want to see what the gym is all about then why not try us out for
					FREE!</p>
				<p class="text-light large-paragraph wow animate fadeIn" data-wow-delay="1s">Just get in touch and we'll
					take you through everything you need to know.</p>

					<a type="button" href="tel:02380234258"
						class="btn btn-primary mr-3 mb-3  facebook-button wow animate fadeIn" 
						target="_blank"><i class="fas fa-phone  text-white" aria-hidden="true"></i>
						Call Us</a>
					<a type="button" href="mailto:ryanholloway@fitandeasy.co.uk"
						class="btn btn-primary mr-3 mb-3  facebook-button wow animate fadeIn" ><i
							class="fas fa-envelope  text-white" aria-hidden="true"></i>
						Email Us</a>

			</div>

		</div>
	</div>
</div>