/**
 * Site styling
 */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

a {
  color: #5c015e;
}
a:hover{
  color:#ab56b5
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.soft-edges {
  border-radius: .3rem;
}

.btn {
  -webkit-appearance: button-bevel !important;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:hover {
  border: none !important;
  outline: none !important;
}

.solidnav .icon-bar {
  background-color: #5c015e!important;
}

.newnavbar {
  transition: ease all .3s;
}

@media (max-width:425px) {
  .navbar-brand {
    padding-top: 1.3125rem !important;
    padding-bottom: 1.3125rem !important;
  }

  .modal-footer>* {
    font-size: .8rem !important;
  }

  .btn {
    padding: 0.75rem 1rem !important;
  }
}

.newnavbar.solidnav {
  min-height: initial;
  transition: ease all .3s;
}

@media (min-width:426px) {
  .order-first {
    order: 0 !important;
  }
}

p a:link,
p a:visited {
  border-bottom: 2px solid #5d025f;
}

.no-border {
  border: none !important;
}

.image-shadow {
  box-shadow: 14px 14px #5d025f;
  transition: ease box-shadow 5s;
}

@media(max-width:425px) {
  .image-shadow {
    box-shadow: 4px 4px #5d025f;
  }
}

@media(max-width:425px) {
  .splash-60 {
    height: 80vh !important;
  }
  .post img {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
}

.down-arrow {
  position: absolute;
  bottom: 10px;
  right: 50%;
  transform: translate(50%, -50%);
}

.page-title {
  font-size: 2rem !important;
  text-shadow: 3px 2px 2px #33333347;
}

html .bg-dark {
  background-color: #424242 !important;
}

.footer a {
  color: #efa967;
}
.footer-brand #logo{
  width: 130px;
  fill: #fff;
}


// Fit and Easy
.swirl {
  z-index: 10;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.swirl svg {
  fill-opacity: 0;
  fill: #fff !important;
  stroke: #fff;
  stroke-width: 1;
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation: draw 1.5s linear;
  animation-name: draw;
  animation-duration: 2.75s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: .4s;
}

@keyframes draw {
  60% {
    stroke-dashoffset: 0;
    stroke-width: 1;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-width: 0;
  }
}

@media (max-width:425px){
  .swirl{
    transform: scale(2);
  }
}